extends layout.pug

block body
    .Screen1
        //- img(src="https://cdn.shopify.com/s/files/1/0990/8672/products/knife-spyderco-swayback-w-seigaiha-motif-titanium-exclusive-8_2000x.jpg?v=1624570952", alt="screen1")
        .screen1Wrapper
            .quote
                h1 "A knife is only as good as the one who wields it."
                i -Patrick Ness
            .quote_img
                img(src="https://images.squarespace-cdn.com/content/v1/5a99da7a697a98dcc6ee8b0a/1597779928096-I7QIKZLB6RPXXEN1ITYL/Knife+photo+2.JPG", alt="quote_img")
    .Screen2
        .screen2Header
            div Why us?
        .screen2Cards
            .screen2Card
                h2 Assortment
                img(src="https://icons-for-free.com/iconfiles/png/512/bxs+package-1325051976493068080.png", alt="assortment")
                .screen2CardDecription Our assortment is one of the biggest on the market. You'll definetly find something for yourself.
            .screen2Card
                h2 Original products
                img(src="https://cdn-icons-png.flaticon.com/512/4497/4497546.png", alt="genuine")
                .screen2CardDecription We are buying knives only from official dealers, we're sure in quality of our products.
            .screen2Card
                h2 Price
                img(src="https://findicons.com/files/icons/2770/ios_7_icons/512/price_tag_usd.png", alt="price")
                .screen2CardDecription Knives can be expensive. That's why we make sure our customers pay reasonable price for the knife they want.
        .Screen2Desc These are the most important reasons for us to deliver our clients best products and service possible. 
    .Screen3
        .Screen3Header
            div Brands
        .Screen3Cards
            .Screen3Card
                a(href="http://localhost:5453/spyderco")
                    img(src="https://forums.digitalpoint.com/attachments/spyderco_knifes_opt-png.247427/", alt="")
                    h2 Spyderco
            .Screen3Card
                a(href="http://localhost:5453/benchmade")
                    img(src="https://seeklogo.com/images/B/benchmade-logo-EEE9447BBF-seeklogo.com.png", alt="")
                    h2 Benchmade
            .Screen3Card
                a(href="http://localhost:5453/microtech")
                    img(src="https://1yjf2e2eh9ednwieo15ne4b1-wpengine.netdna-ssl.com/wp-content/uploads/IMG_C64B0304A82F-1-1.jpeg", alt="")
                    h2 Microtech
            .Screen3Card
                a(href="http://localhost:5453/zero_tolerance")
                    img(src="https://m.media-amazon.com/images/S/aplus-media/vc/9a035334-4908-4e80-84f9-c59a13e9101d._CR0,0,300,300_PT0_SX300__.png", alt="")
                    h2 Zero Tolerance
